<meta charset="utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta content="machine! turn gack!" />
<meta content="this place is not for you kind!" />

<link href="./styles/style.css" rel="stylesheet" type="text/css" /> <!-- конектим контр страйк сурс-->
<link href="./styles/footer.css" rel="stylesheet" type="text/css" />
<link href="./styles/navigationBar.css" rel="stylesheet" type="text/css" />
<link href="./styles/catalog.css" rel="stylesheet" type="text/css" />
<link href="./styles/carousel.css" rel="stylesheet" type="text/css" />

<!-- шрифт с гула, сам шрифт применяется ко всему html (зыркай в css)-->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet"/>

<title>Магазин комиксов "три звезды"</title>