<ul class="navHead">
    <li class="navElemLeft"><a class="navLink" href="/">Главная</a></li>
    <li class="navElemLeft"><a class="navLink" href="/catalog">Каталог</a></li>
    <li class="navElemLeft"><a class="navLink" href="/contacts">Контакты</a></li>
    <li class="navElemRight" class="navCart"><a class="navLink" href="/contacts">🛒</a></li>
</ul>