<!DOCTYPE html>
<html>

	<head>
		<%- include('../partials/header') %>
	</head>

	<body>

		<%- include('../partials/navHead') %>
		
		<h1 class="lableText">
			Войти:
		</h1>

		<input type="text" id="name">

		<div class="infoDiv">
			<p class="infoText">
				Имя: <%= name  %>
			</p>
		</div>

	</body>

	<footer class="copyright">
		<p>©2023 Магазин комиксов «ТРИ ЗВЕЗДЫ» | Все права защищены</p>
	</footer>

</html>
