<!DOCTYPE html>
<html>

	<head>
		<%- include('../partials/header') %>
	</head>

	<body>

		<%- include('../partials/navHead') %>
		
		<h1 class="lableText">
			Выбор редакции
		</h1>

		<div id="wrapper">
			<div id="carousel">
			  <div id="content">
				<div class="item" style="background-image: url(./images/avengers.jpg);">
					<p class="carPrice">650₽</p>
				</div>
				<div class="item" style="background-image: url(./images/besoyob.jpg);">
					<p class="carPrice">500₽</p>

				</div>
				<div class="item" style="background-image: url(./images/black_dog.jpg);">
					<p class="carPrice">700₽</p>

				</div>
				<div class="item" style="background-image: url(./images/black_widow_2.jpg);">
					<p class="carPrice">300₽</p>

				</div>
				<div class="item" style="background-image: url(./images/daredevil.jpg);">
					<p class="carPrice">800₽</p>

				</div>
				<div class="item" style="background-image: url(./images/demonslayer.jpg);">
					<p class="carPrice">500₽</p>

				</div>
				<div class="item" style="background-image: url(./images/empyre.jpg);">
					<p class="carPrice">500₽</p>

				</div>
				<div class="item" style="background-image: url(./images/igor_grom.jpg);">
					<p class="carPrice">1000₽</p>

				</div>
				<div class="item" style="background-image: url(./images/inferno.jpg);">
					<p class="carPrice">250₽</p>

				</div>
				<div class="item" style="background-image: url(./images/mayor_grom.jpg);">
					<p class="carPrice">1000₽</p>

				</div>
				<div class="item" style="background-image: url(./images/medievil.jpg);">
					<p class="carPrice">450₽</p>

				</div>
				<div class="item" style="background-image: url(./images/metheora.jpg);">
					<p class="carPrice">900₽</p>

				</div>
				<div class="item" style="background-image: url(./images/metheora_vol2.jpg);">
					<p class="carPrice">900₽</p>

				</div>
				<div class="item" style="background-image: url(./images/ms_marvel.jpg);">
					<p class="carPrice">700₽</p>

				</div>
				<div class="item" style="background-image: url(./images/soyznik.jpg);">
					<p class="carPrice">500₽</p>

				</div>
				<div class="item" style="background-image: url(./images/venom.jpg);">
					<p class="carPrice">500₽</p>

				</div>
				
			  </div>
			</div>
			<button id="prev">
			  <svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
			  >
				<path fill="none" d="M0 0h24v24H0V0z" />
				<path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z" />
			  </svg>
			</button>
			<button id="next">
			  <svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
			  >
				<path fill="none" d="M0 0h24v24H0V0z" />
				<path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z" />
			  </svg>
			</button>
		  </div>

		<h1 class="lableText">
			DC Comics
		</h1>

		<div class="catElem">
			<div class="catDiv">
				<img class="catImg" src="./images/the_batman.jpg">
			</div>
			<div class="catDiv">
				<p class="catText lable">The Batman</p>
				<p class="catText description">Продолжающаяся американская серия комиксов с супергероем DC Comics Бэтменом в качестве главного героя. Персонаж, созданный Биллом Фингером и Бобом Кейном, впервые появился в Detective Comics #27.</p>
				<p class="catText price">250₽</p>

			</div>
		</div>

        <h1 class="lableText">
			Marvel Comics
		</h1>

		<div class="catElem">
			<div class="catDiv">
				<img class="catImg" src="./images/black_cat_2020_variant.jpg">
			</div>
			<div class="catDiv">
				<p class="catText lable">Black Cat</p>
				<p class="catText description">Чёрная кошка (Marvel Comics), настоящее имя — Фелиция Харди — персонаж комиксов издательства Marvel Comics, являющаяся воровкой и напарницей супергероя Человека-паука.</p>
				<p class="catText price">250₽</p>

			</div>
		</div>

        <div class="catElem">
			<div class="catDiv">
				<img class="catImg" src="./images/black_widow_2.jpg">
			</div>
			<div class="catDiv">
				<p class="catText lable">Black Widow</p>
				<p class="catText description">Чёрная вдова — онгоинг серия комиксов, действующим персонажем которой является Чёрная вдова. Опубликована издательством Marvel Comics в период — июнь 1999—2023.</p>
				<p class="catText price">250₽</p>

			</div>
		</div>

        <h1 class="lableText">
			По играм
		</h1>
        
        <div class="catElem">
			<div class="catDiv">
				<img class="catImg" src="./images/terraria.jpg">
			</div>
			<div class="catDiv">
				<p class="catText lable">Terraria</p>
				<p class="catText description">Terraria: Graphic Novel — это комикс популярной видеоигры от компании Re-Logic. В центре сюжета — маленький герой, который отправляется на поиски спасения мира от жутких монстров и других опасностей.</p>
				<p class="catText price">250₽</p>

			</div>
		</div>

        <h1 class="lableText">
			Русский писатель
		</h1>

        <div class="catElem">
			<div class="catDiv">
				<img class="catImg" src="./images/sokol.jpg">
			</div>
			<div class="catDiv">
				<p class="catText lable">Сокол</p>
				<p class="catText description">Серия российских комиксов в жанрах научной фантастики о приключениях советского космонавта Виктора Соколова, по стечению обстоятельств оказавшегося в космосе и пытающегося вернуться домой.</p>
				<p class="catText price">250₽</p>

			</div>
		</div>

	</body>

	<footer class="copyright">
		<p>©2023 Магазин комиксов «ТРИ ЗВЕЗДЫ» | Все права защищены</p>
	</footer>

	<script src="./scripts/carousel.js"></script>

</html>
