<!DOCTYPE html>
<html>

	<head>
		<%- include('../partials/header') %>
	</head>

	<body>

		<%- include('../partials/navHead') %>
		
		<h1 class="lableText">
			В чем мы хороши?
		</h1>

		<div class="infoDiv">
			<p class="infoText">
				Мы специализируемся на продаже комиксов, которые позволяют вам окунуться в удивительные миры и пережить невероятные приключения вместе с героями.
			</p>
			<p class="infoText">
				У нас есть комиксы от известных авторов и издателей, таких как Marvel Comics, DC Comics, Bubble Comics и многие другие.
			</p>
			<p class="infoText">
				Наши комиксы отличаются высоким качеством печати и иллюстраций, что делает их идеальным выбором для ценителей комиксов.
			</p>
			<p class="infoText">
				Мы предлагаем широкий выбор цен, чтобы каждый мог найти что-то по своему вкусу.
			</p>
			<p class="infoText">
				Посетите наш магазин сегодня и погрузитесь в увлекательный мир комиксов!
			</p>
		</div>

		<h1 class="lableText">
			Где нас найти?
		</h1>

		<!-- Виджет Я.карт https://yandex.ru/map-constructor/ -->
		<div class="yaMapDiv">
			<iframe class="yaMap" src="https://yandex.ru/map-widget/v1/?um=constructor%3A16ac8bb659e8f4071fa8d50ed28c770fb49269cf186e5461a8acb9cad3dfa2ff&amp;source=constructor" width="700" height="400" frameborder="0"></iframe>
		</div>

		<h1 class="lableText">
			Новинки!
		</h1>

		<div class="catElem">
			<div class="catDiv">
				<img class="catImg" src="images/terraria.jpg">
			</div>
			<div class="catDiv">
				<p class="catText lable">Terraria</p>
				<p class="catText description">Terraria: Graphic Novel — это комикс популярной видеоигры от компании Re-Logic. В центре сюжета — маленький герой, который отправляется на поиски спасения мира от жутких монстров и других опасностей.</p>
				<p class="catText price">250₽</p>

			</div>
		</div>

		<div class="catElem">
			<div class="catDiv">
				<img class="catImg" src="images/sokol.jpg">
			</div>
			<div class="catDiv">
				<p class="catText lable">Сокол</p>
				<p class="catText description">Серия российских комиксов в жанрах научной фантастики о приключениях советского космонавта Виктора Соколова, по стечению обстоятельств оказавшегося в космосе и пытающегося вернуться домой.</p>
				<p class="catText price">250₽</p>

			</div>
		</div>

		<div class="catElem">
			<div class="catDiv">
				<img class="catImg" src="images/metheora_vol2.jpg">
			</div>
			<div class="catDiv">
				<p class="catText lable">Метеора</p>
				<p class="catText description">«Метеора» — серия комиксов в жанре космической оперы, публиковавшаяся российским издательством Bubble Comics с 2014 по 2018 год.</p>
				<p class="catText price">250₽</p>

			</div>
		</div>

		<div class="catElem">
			<div class="catDiv">
				<img class="catImg" src="images/inferno.jpg">
			</div>
			<div class="catDiv">
				<p class="catText lable">Inferno</p>
				<p class="catText description">Кроссоверная сюжетная линия компании Marvel Comics 1989 года, в которой в основном участвовали мутанты, а именно Сверхъестественные Люди Икс.</p>
				<p class="catText price">250₽</p>

			</div>
		</div>
	</body>
	<footer class="copyright">
		<p>©2023 Магазин комиксов «ТРИ ЗВЕЗДЫ» | Все права защищены</p>
	</footer>

</html>
