<!DOCTYPE html>
<html>

	<head>
		<%- include('../partials/header') %>
	</head>

	<body>

		<%- include('../partials/navHead') %>
		
		<h1 class="lableText">
			Регистрация
		</h1>

		<form method="post">
            <input type="text" name="username">
            <input type="password" name="password">
            <button type="submit">Регистрация</button>
        </form>

	</body>

	<footer class="copyright">
		<p>©2023 Магазин комиксов «ТРИ ЗВЕЗДЫ» | Все права защищены</p>
	</footer>

</html>
