/*Каталог*/

:root{
	--color1: #264653;
	--color2: #2a9d8f;
	--color3: #e76f51;
	--color4: #f4a261;
}

.catDiv{
	padding-right: 5px;
}

.catElem{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
	margin-top: 15px;
	margin-left: 20%;
	text-decoration: none;
	color: #aaa;
	transition: 200ms;
	max-width: 65%;
}

.lable{
	transition: 150ms;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.catElem:hover .lable{
	text-shadow:
	1px 1px 3px #f4a261,
	2px 2px 3px #e76f51;
}

.description{
	font-size: smaller;
}

.catElem:hover{
	color: #fff;
}

.catImg{
	display: block;
	margin: 5px;
	width: 165px;
	height: 255px;
	border: 3px solid #444;
	border-radius: 10px;
	transition: 200ms;
}

.catElem:hover .catImg{
	border: 3px solid var(--color3);
	box-shadow:
	0px 0px 10px #e76f51;
}

.catText{
	display: block;
}

.price{
	color: var(--color3);
	transition: 200ms;
}

.catElem:hover .price{
	color: var(--color4);
}

.catDivButt{
	bottom: 100;
}

.catBuyButt{
	padding: 5px 5px;
	text-decoration: none;
	transition: 300ms;
	border-radius: 15px;
	border: 3px solid var(--color3);
	background-color: #444;
	color: #ccc;
}


.catBuyButt:hover{
	border: 3px solid #fff;
	background-color: var(--color4);
	color: #222;
}