/* навигация */

:root{
	--color1: #264653;
	--color2: #2a9d8f;
	--color3: #e76f51;
	--color4: #f4a261;
}

.navHead {
	list-style-type: none;
	position: sticky;
	margin: 0;
	padding: 0;
	border: 0;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	border: 3px solid #444;
	background-color: #333;
	z-index: 999999999;
}

.navElemLeft{
	float: left;
	/*border-right: 3px solid #444;*/
}

.navElemRight{
	float: right;
	border-left: 3px solid #444;
}
  
.navLink {
	display: block;
	color: #999;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 300ms;		/* https://developer.mozilla.org/ru/docs/Web/CSS/transition */
}
  
.navLink:hover {		/* https://developer.mozilla.org/ru/docs/Web/CSS/Pseudo-classes */
	color: #fff;
	text-shadow: var(--color3) 1px 1px 4px;
}

.navCart {
	display: block;
	color: #ccc;
	text-align: center;
	padding: 2px 2px;
	text-decoration: none;
	font-size: 36px;
	transition: 200ms;
}

.navCart:hover {
	background-color: var(--color4);
}