.catElem{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
	margin-top: 15px;
	margin-left: 15%;
	text-decoration: none;
	color: #aaa;
	transition: 200ms;
	max-width: 60%;
}

.catElem:hover{
	color: #fff;
}

.catImg{
	display: block;
	margin: 5px;
	width: 165px;
	height: 255px;
	border: 3px solid #444;
	border-radius: 10px;
	transition: 200ms;
}

.catElem:hover .catImg{
	border: 3px solid #aaa;
}

.catText{
	display: block;
}

.catBuyButt{
	color: #aaa;
	text-decoration: none;
	border: 3px solid #eb0;
}