html {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
	background-color: #111;
	color: #ccc
}

#main-content {
	width: 600px;
	background-color: #323;
	margin: 20px auto;
	padding: 0px 0px 20px 20px;
	border: 5px solid black;
	border-radius: 15px;
}

#catpic {
    width: 500px;
    height: 500px;
	border-radius: 15px;
}

.navHead {
	list-style-type: none;
	position: sticky;
	top: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 3px solid #222;
	background-color: #333;
}
  
.navElem {
	float: left;
}
  
.navLink {
	display: block;
	color: #ccc;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
  
.navLink:hover { /* вот тут начинаются приколы*/
	background-color: #323;
}